* {
    margin: 0;
    padding: 0;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.image-mobile {
    display: none;
}
.attribution { 
    font-size: 11px; 
    margin-top: 2em;
    padding: 2em;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}