* {
    margin: 0;
    padding: 0;
}
:root {
--Green-500: hsl(158, 36%, 37%);
--Green-700: hsl(158, 42%, 18%);
--Black: hsl(212, 21%, 14%);
--Grey: hsl(228, 12%, 48%);
--Cream: hsl(30, 38%, 92%);
--White: hsl(0, 0%, 100%);
}
body {
    height: 100vh;
    background-color: var(--Cream);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.gabrielle, .green-price {
    font-family: 'Fraunces', sans-serif;
}
.perfume, .description, .old-price, .add-to-cart {
    font-family: 'Montserrat', sans-serif;
}
.perfume {
    font-size: 1.05rem;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--Grey);
}
.gabrielle {
    font-size: 2rem;
    line-height: 100%;
}
.description {
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
}
.green-price {
    font-size: 2rem;
    color: var(--Green-500);
}
.old-price {
    text-decoration: line-through;
}
.card {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}
.main-image {
    width: 20rem;
}
.card-content {
    background-color: var(--White);
    max-width: 15rem;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.prices {
    display: flex;
    align-items: center;
    gap: 10px;
}
.add-to-cart {
    min-width: 3rem;
    background-color: var(--Green-500);
    padding: 15px;
    color: var(--White);
    border-radius: 10px;
    border: none;
}