* {
    margin: 0;
    padding: 0;
} 

:root {
    --Green-500: hsl(158, 36%, 37%);
    --Green-700: hsl(158, 42%, 18%);
    --Black: hsl(212, 21%, 14%);
    --Grey: hsl(228, 12%, 48%);
    --Cream: hsl(30, 38%, 92%);
    --White: hsl(0, 0%, 100%);
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--Cream);
}
.image-desktop {
    width: 50%;
    height: auto; 
} 
.image-mobile {
    display: none;
}
.card {
    width: 600px;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}
.card-content {
    background-color: var(--White);
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
}
.perfume {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5em;
}
.description {
    line-height: 180%;
}
.perfume, .description, .add-to-cart {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
.gabrielle, .price.green {
    font-family: 'Fraunces', sans-serif;
    font-size: 40px;
}
.prices {
    display: flex;
    align-items: center;
    gap: 1em;
}
.price.green {
    color:var(--Green-500);
    font-weight: 700;
}
.price.old {
    text-decoration: line-through;
}
.shopping-button {
    background-color: var(--Green-500);
    padding: 1.25em;
    border-radius: 10px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    gap: 1em;
}
.add-to-cart {
    text-decoration: none;
    color: white;
}
.attribution { 
    font-size: 11px; 
    margin-top: 2em;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}