* {
    margin: 0;
    padding: 0;
} 

:root {
    --Green-500: hsl(158, 36%, 37%);
    --Green-700: hsl(158, 42%, 18%);
    --Black: hsl(212, 21%, 14%);
    --Grey: hsl(228, 12%, 48%);
    --Cream: hsl(30, 38%, 92%);
    --White: hsl(0, 0%, 100%);
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--Cream);
}
.image-desktop {
    width: 300px;
    height: auto;
}
.image-mobile {
    display: none;
}
.card-content {
    width: 300px;
    background-color: var(--White);
}
.attribution { 
    font-size: 11px; 
    margin-top: 2em;
    padding: 2em;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}