* {
    margin: 0;
    padding: 0;
}
:root {
--Green-500: hsl(158, 36%, 37%);
--Green-700: hsl(158, 42%, 18%);
--Black: hsl(212, 21%, 14%);
--Grey: hsl(228, 12%, 48%);
--Cream: hsl(30, 38%, 92%);
--White: hsl(0, 0%, 100%);
}
body {
    height: 100vh;
    background-color: var(--Cream);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.gabrielle, .green-price {
    font-family: 'Fraunces', sans-serif;
}
.perfume, .description, .old-price {
    font-family: 'Montserrat', sans-serif;
}
.card {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}
.main-image {
    width: 20rem;
}
.card-content {
    background-color: var(--White);
    max-width: 15rem;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}